.placeOrder_wrapper {
  padding: 80px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
}
.delivery_information {
  max-width: 600px;
  width: 100%;
}
.delivery_information h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.delivery_form input {
  width: 100%;
  margin: 5px 0;
  padding: 5px 12px;
  font-size: 15px;
  outline: none;
}
.delivery_form .input_group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 12px;
}
.delivery_form .input_group input {
  width: 49%;
}

/* Media Query For 575px */
@media (max-width: 575px) {
  .delivery_information h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .placeOrder_wrapper {
    padding: 60px 0;
  }
}
