#explore_menu{
    margin: 50px 0;
}
.explore_menu_heading h2{
    color: rgb(38, 38, 38);
    font-weight: 500;
    font-size: max(1.8vw, 25px);
}
.explore_menu_heading p{
    max-width: 60%;
    font-size: 17px;
    color: gray;
    margin-top: 20px;
    line-height: 130%;
}
.explore_menu_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
    overflow-x: auto;
    padding-bottom: 40px;
    border-bottom: 2px solid #e2e2e2;
}
.explore_menu_list::-webkit-scrollbar{
    display: none;
}
.explore_menu_item{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
}
.menu_item_img{
    width: 125px;
    border-radius: 50%;
    overflow: none;
}
.menu_item_img.active{
    border: 4px solid tomato;
    padding: 2px;
}
.explore_menu_item h5{
    color: rgb(116, 116, 116);
    font-size: 16px;
}