#nav{
    padding: 30px 0;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1000;
}
#nav.scrolled{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
.nav_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_wrapper .logo{
    width: 175px;
}
.nav_wrapper .menu, .nav_wrapper .menu_right{
    align-items: center;
    justify-content: center;
    gap: 30px;
    display: none;
}
.nav_wrapper .menu li{
  text-transform: capitalize;
  color: #49557e;
  font-weight: 500;
}
.nav_wrapper .menu .active{
    position: relative;
}
.nav_wrapper .menu .active::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #49557e;
}
/* .nav_wrapper .menu_right{
    gap: 40px;
} */
.menu_right .search_icon {
    cursor: pointer;
}
.menu_right .cart_icon_box{
    position: relative;
}
.menu_right .cart_icon_box .dot {
    position: absolute;
    top: -10px;
    right: -1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: tomato;
}
.menu_right button{
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: transparent;
    transition: all linear 0.3s;
}
.menu_right button:hover{
    background-color: tomato;
    color: white;
}
.side_menu_bar{
    font-size: 35px;
    cursor: pointer;
}
@media (min-width: 992px) {
   .nav_wrapper .menu, .nav_wrapper .menu_right{
        display: flex;
    } 
    .side_menu_bar{
        display: none;
    }
}

