#footer{
    background-color: #323232;
    color: #d9d9d9;
    padding: 80px 0 20px;
}
.footer_wrapper{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding-bottom: 60px;
    border-bottom: 2px solid gray;
}
.footer_left{
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}
.footer_left .footer_logo{
    width: 180px;
}
.footer_left .footer_desc{
    margin: 0;
    line-height: 130%;
    font-size: 16px;
}
.footer_social_list{
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer_social_list a{
    width: 50px;
}
.footer_center h4, .footer_right h4{
    text-transform: uppercase;
    font-size: 20px;
}
.footer_menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.footer_menu li{
    font-size: 16px;
}
.footer_copyright{
    margin-top: 50px;
    text-align: center;
}
.footer_copyright p{
    margin: 0;
    font-size: 16px;
}