#download_app{
    padding: 100px 0;
}
.download_app_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 30px;
}
.download_app_wrapper h2 {
    font-size: max(3vw,25px);
    font-weight: 500;
    max-width: 70%;
}
.download_app_images{
    display: flex;
    align-items: center;
    gap: 20px;
}
.download_app_images a{
    max-width: 210px;
    transition: all linear 0.3s;
}
.download_app_images a:hover{
    transform: scale(1.1);
}